.app-container {
	width: 100vw;
	height: 100vh;
	background-color: #6d69691c;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding-top:60px ; */
	padding: 60px 30px ;
}
.app-container h1{
	font-size: 35px;
	color: rgba(255, 255, 255, 0.651);
	padding: 10px;
}
 .user-name{
	width: 100%;
	/* background-color: rgba(0, 255, 255, 0.377); */
	padding-bottom: 80px;
}
.user-name h1 span{
	color: white;
	text-transform: uppercase;
}

/*                ----------toggle---------     */
.toggle-btn {
	border: 1px solid rgba(87, 85, 85, 0.13);
	border-radius: 5px;
	background-color: rgba(0, 0, 0);
	color: rgb(119, 226, 12);
	font-size: 28px;
	font-weight: 600;
}
.toggle-btn:hover {
	background-color: rgba(0, 0, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.493);
}

/*                ----------local-storage ---------     */
.local-storage-container {
	width: 100%;
	max-width: 550px;
	/* background-color: rgba(70, 131, 180, 0.274); */
	border: 1px solid rgba(255, 255, 255, 0.397);
	margin-top: 20px;
	padding: 20px;
}
.local-storage-container .input-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4096445e;
	padding: 0px 5px;
}
.input-div input {
	width: 100%;
	min-height: 35px;
	padding-left: 5px;
	margin: 5px;
}
.local-storage-container .button-div {
	background-color: #55915828;
	padding: 7px 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
.button-div button {
	width: 140px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.212);
	margin: 3px 7px;
	font-size: 16px;
	font-weight: 400;
}
.red{
	background-color: rgba(255, 0, 0, 0.575);
}
.green{
	background-color: rgba(0, 128, 0, 0.548);
}


/*                ----------html direction---------     */
.direction-container {
	width: 100vw;
	height: 60px;
	background-color: rgb(51, 65, 59);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	position: absolute;
	bottom: 0;
	font-weight: 300;
}
.direction-container button {
	width: 60px;
	height: 28px;
	border-radius: 30px;
	border: 1px solid rgba(255, 250, 250, 0.41);
	font-size: 12px;
}
.direction-container span {
	font-weight: 500;
}

@media (max-width: 718px) {
	.user-name{
		padding-bottom: 35px;
	}
	.local-storage-container {
		max-width: 450px;
	}
	.input-div input{
		min-height: 45px;
	}
	.button-div button {
		width: 100%;
		min-height: 30px;
	}
	.direction-container{
		display: none;
	}
}